/*Font Size*/
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-22: 22px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;
$fs-34: 34px;
$fs-38: 38px;

/*color*/
$dark-gray: #000;
$light-gray: #f6f6f6;
$lightest-gray: #9d9d9d;